

h2 {
  text-align: center;
  color: #FFB800;
}

.polaroids {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.polaroid {
  display: inline-block;
  margin: 10px;
  position: relative;
  width: auto;
}

.polaroid img {
  border: 12px solid #fff;
  border-bottom: 70px solid #fff;
  -webkit-box-shadow: 3px 3px 3px #888;
  -moz-box-shadow: 3px 3px 3px #888;
  box-shadow: 3px 3px 3px #888;
  height: auto;
  max-width: 100%;
}

.polaroid p {
  color: #888;
  font: 500 18px/22px Arial, sans-serif;
  position: absolute;
  bottom: -8px;
  text-align: center;
  width: 100%;
}
button{
  background-color: #ffffff;
  border: 2px solid #FFB800 ;
  color: rgb(0, 0, 0);
  padding: 5px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}


